
/* CSS Variables */

:root {
    --lightcyan: #c9e0dd;
    --black: #000000;
    --darkgrey: #808080;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Begin...Header section styling */

    header {
        padding: 10px 40px;
        background-color: var(--black);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header h1 {
        background-color: var(--lightcyan);
        font-weight: bold;
        font-size: 36px;
        color: var(--black);
        margin: 0;
    }
    header h1 a{
        color: var(--black);
    }

    header a {
        text-decoration: none;
        color: var(--lightcyan);
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 1.89vw;
        text-decoration: underline;
    }
/* Ends...Header section styling */

/* Begin...Cool-title section styling */
.cooltitle {
    padding : 150px;
    background-image: url("../images/backgroundsection.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    position: relative;
}

.cooltitle h2 {
    background-color: var(--lightcyan);
    position: absolute;
    right: 80px;
    bottom: 2px;
}
/* Ends...Cool-title section styling */

/* Begin...'About Me' Section Styling  */

.intro {
    margin: 10px;
    margin-left: 115px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.intro h2 {
    color: var(--darkgrey);
    padding-right: 20px;
    text-align: right;
}   

.about-me-container {
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left : 2px solid var(--darkgrey);
    padding-left: 20px;
}

.about-me-container .about-me-flex {
    position: relative;
    display: flex;
}

.about-me-container .about-me-flex .photo{
    flex: 0 0 100px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    /* padding: 1px; */
    border: 8px solid solid;
    /* trying to make the image get round borders */
    /* border-radius:50%; */
}

.about-me-container .about-me-flex .content{
    margin-left: 20px;
    margin-top: 0px;
}

/* End...'About Me' Section Styling  */

/* 'Work' Section Styling Begins */

 .work-details {
    margin: 10px;
    margin-left: 150px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

 .work-details h2 {
    color: var(--darkgrey);
    padding-right: 20px;
} 

.grid-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border-left:2px solid var(--darkgrey);
}

.grid-application-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    grid-auto-flow: dense;  
}

.grid-app {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--lightcyan);
    border-radius: 5px;
    font-size: 10px;
    position: relative;
}

.app-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/Run-Buddy.png"); 
}

.app-1:hover {
    opacity: .5;
    cursor: pointer;
}

.app-2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    position: relative;
    background-image: url("../images/pastelpuzzels.png");
}

.app-2:hover {
    opacity: .5;
    cursor: pointer;
}

.app-3 {
    grid-column: 2 /span 1;
    grid-row: 3 / span 1;
    position: relative;
    background-image: url("../images/surf-report.jpg");
}

.app-3:hover {
    opacity: .5;
    cursor: pointer;
}

.app-4 {
    position: relative;
    background-image: url("../images/calc.png");
}

.app-4:hover {
    opacity: .5;
    cursor: pointer;
}

.app-5 {
    position: relative;
    background-image: url("../images/led-wall.jpg");
}

.app-5:hover {
    opacity: .5;
    cursor: pointer;
}
.app1-details, .app2-details, .app3-details, .app4-details, .app5-details {
    background-color: var(--lightcyan);
    padding-right: 10px;
    position: absolute;
    left: 0;
    bottom: 10px;
    line-height: 0.5;
}

/* End...'Work' Section Styling  */

/* Begin.. 'Contact Me' Section */

.contact-me-details{
    margin: 20px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.contact-me-details h2{
    color: var(--darkgrey);
    padding-right: 20px;
    text-align: right;
}

.contactlinks{
    width: 100%;
    border-left: 2px solid var(--darkgrey);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap : wrap;
}

.contactlinks a {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.89vw;  
}
/* End.. 'Contact Me' Section */

/* Begin..Responsive layout via MediaQueries  */

@media  (max-width: 980px){
  
}

@media (max-width: 768px){
    header h1 {
        font-size: 25px;
    }

    .intro {
        margin: 10px;
        margin-left: 30px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }
    .work-details {
        margin: 10px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }
    .contact-me-details{
        margin: 20px;
        margin-left: 20px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 575px){
    header h1 {
        font-size: 10px;
    }

    .intro {
        margin: 10px;
        margin-left: 30px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }
 
    .work-details {
        margin: 10px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }
 
    .contact-me-details{
        margin: 20px;
        margin-left: 20px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .app1-details, .app2-details, .app3-details, .app4-details, .app5-details {
        line-height: 0;
        font-size: 10px;
    }
}

/* Begin..Responsive layout via MediaQueries */


